# This is Git's per-user configuration file.

[core]
	pager = less -F

[user]
	name = Juha Ruistola
	email = juha.ruistola@metaplay.io

[alias]
	co = checkout
	st = status
	lol = log --oneline
	lol20 = log --oneline -n20
	lol30 = log --oneline -n30
[advice]
	addIgnoredFile = false
