# This is Git's per-user configuration file.

[core]
    pager = delta
	ignorecase = false

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[delta]
    features = line-numbers decorations
    true-color = always
    syntax-theme = Coldark-Dark
    # use n and N to move between diff sections
    navigate = true

[interactive]
    diffFilter = delta --color-only

[fetch]
    prune = true
    prunetags = true

[merge]
    conflictstyle = merge

[rebase]
    autostash = true

[push]
    default = current

[pull]
    rebase = true

[rerere]
    enabled = true

[diff]
    colorMoved = default
    algorithm = histogram

[branch]
    sort = committerdate

[user]
    name = Juha Ruistola
    email = ruistola@gmail.com

[includeIf "gitdir:~/projs/metaplay/"]
    path = ~/projs/metaplay/.gitconfig

[alias]
    co = checkout
    st = status
    lol = log --oneline
    lol20 = log --oneline -n20
    lol30 = log --oneline -n30

[advice]
    addIgnoredFile = false

[maintenance]
	repo = /Users/ruistola/projs/metaplay/sdk
